@charset "UTF-8";
.img-fill {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	left: auto;
}
.img-caption {
	color: #3B71FF;
	font-size: 9pt;
	font-style: italic;
}

.navbar.navbar-default {
	border-width: 0px;
	background-color: #001025;
	color: #FF0004;
}

#defaultNavbar1 .nav.navbar-nav .active {
	background-color: #001430;
	color: #FFFFFF;
	border-bottom: 1px solid #00285E;
}
#main {
	max-width: 1200px;
	padding-left: 0px;
	padding-right: 0px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 22px;
	margin-top: 21px;
}
hr {
	border-color: #001025;
}
.main_quote {
	color: #A4DCFF;
	font-style: italic;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 25pt;
}
.footer {
	margin-top: 93px;
	font-size: 11px;
	color: #EB0000;
}

#breakingimage {
	margin-top: 63px;
}
#defaultNavbar1 .navbar-brand.active {
	background-color: #001430;
	color: #FFFFFF;
	border-bottom: 1px solid #00285E;
}
.container-fluid .navbar-header .navbar-brand.active {
	background-color: #001430;
	color: #FFFFFF;
	border-bottom: 2px solid #00285E;
	margin-bottom: 1px;
}
h2 {
	font-size: 15pt;
}
#aboutMain {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 22px;
	margin-top: 21px;
}
#galleryMain {
	
}
#litMain {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 22px;
	margin-top: 21px;
}
.maxW1200{
	max-width: 1200px;
	padding-left: 0px;
	padding-right: 0px;
	
}
.width90p{
	width: 90%;
}
/*carousel settings*/
#carousel1 .carousel-inner .carousel-caption {
	bottom: -124px;
}
#carousel2 .carousel-inner .carousel-caption {
	bottom: -124px;
}
#carousel1 .carousel-inner .item .center-block {
	max-height: 550px;
}
#carousel2 .carousel-inner .item .center-block {
	max-height: 300px;
}
.carousel-indicators  {
	bottom: 65px;
}
#carousel1 .carousel-inner {
	padding-bottom: 100px;
}
#carousel2 .carousel-inner {
	padding-bottom: 100px;
}
.left.carousel-control  {
	padding-bottom: 0px;
	bottom: 100px;
}
.right.carousel-control  {
	padding-bottom: 0px;
	bottom: 100px;
}
#accordion_arc_media .panel.panel-default {
	border-radius: 0px;
	border: medium none #001530;
}
#accordion_arc_media .panel.panel-default .panel-heading {
	background-color: #002960;
	color: #A4DCFF;
	border-top: 3px solid #001361;
	border-left: 3px solid #001361;
	border-right: 3px solid #001361;
	border-radius: 0px;
}
#accordion_arc_media .panel.panel-default .panel-body {
	background-color: #00245C;
	border-right: medium solid #001361;
	border-left: medium solid #001361;
	border-bottom: medium solid #001361;
	border-top: medium solid #001361;
}

