@charset "UTF-8";
/* Image Settings */
.img-fill {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	left: auto;
}
.img-fill-80 {
	width: 80%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	left: auto;
	right:auto;
}
.img-caption {
	color: #3B71FF;
	font-size: 9pt;
	font-style: italic;
}
.breakingimage {
	margin-top: 63px;
}

/* Font Settings */
h2 {
	font-size: 15pt;
}

/* Page Elements */
hr {
	border-color: #001025;
}
.footer {
	margin-top: 93px;
	font-size: 11px;
	color: #EB0000;
}
.main_quote {
	color: #A4DCFF;
	font-style: italic;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 25pt;
}
.main_quote_sm {
	color: #A4DCFF;
	font-style: italic;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 22pt;
}

/* Navbar Settings */
#defaultNavbar1 .navbar-brand.active {
	background-color: #001430;
	color: #FFFFFF;
	border-bottom: 1px solid #00285E;
}
.container-fluid .navbar-header .navbar-brand.active {
	background-color: #001430;
	color: #FFFFFF;
	border-bottom: 2px solid #00285E;
	margin-bottom: 1px;
}
.navbar.navbar-default {
	border-width: 0px;
	background-color: #001025;
	color: #FF0004;
}
#defaultNavbar1 .nav.navbar-nav .active {
	background-color: #001430;
	color: #FFFFFF;
	border-bottom: 1px solid #00285E;
}

/* Page Main Settings */
#main {
	max-width: 1200px;
	padding-left: 0px;
	padding-right: 0px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 22px;
	margin-top: 21px;
}
#aboutMain {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 22px;
	margin-top: 21px;
}
#litMain {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 22px;
	margin-top: 21px;
}

/* Container Settings */
.maxW1200{
	max-width: 1200px;
	padding-left: 0px;
	padding-right: 0px;
}
.width90p{
	width: 90%;
}
.width80p{
	width: 80%;
}
.width70p{
	width: 70%;
}
/*carousel settings*/

#carousel2 .carousel-inner .carousel-caption {
	bottom: -124px;
}

#carousel2 .carousel-inner .item .center-block {
	max-height: 300px;
}

#carousel2 .carousel-inner {
	padding-bottom: 100px;
}
/* Generic Gallery Settings (Overridden)*/
.carousel-indicators  {
	bottom: 65px;
}
.left.carousel-control  {
	padding-bottom: 0px;
	bottom: 100px;
}
.right.carousel-control  {
	padding-bottom: 0px;
	bottom: 100px;
}
/*Accordian (Archive Media)*/
#accordion_arc_media .panel.panel-default {
	border-radius: 0px;
	border: medium none #001530;
}
#accordion_arc_media .panel.panel-default .panel-heading {
	background-color: #001634;
	color: #A4DCFF;
	border-top: 3px solid #001361;
	border-left: 3px solid #001361;
	border-right: 3px solid #001361;
	border-radius: 0px;
}
#accordion_arc_media .panel.panel-default .panel-body {
	background-color: #001F48;
	border-right: medium solid #001361;
	border-left: medium solid #001361;
	border-bottom: medium solid #001361;
	border-top: medium solid #001361;
}

.row3 {
	max-width: 900px;
	width: 70%;
}


@media (max-width:767px){
/*Gallery Slides XS*/
#carousel1 .carousel-inner .item .center-block {
	max-height: 400px;
}
#carousel1 .carousel-inner {
	padding-bottom: 120px;
}
#carousel1 .carousel-inner .carousel-caption {
	bottom: -120px;
}
}
@media (min-width:768px) and (max-width:991px){
/*Gallery Slides (SM)*/
#carousel1 .carousel-inner .item .center-block {
	max-height: 450px;
}
#carousel1 .carousel-inner {
	padding-bottom: 120px;
}
#carousel1 .carousel-inner .carousel-caption {
	bottom: -145px;
}
}

@media (max-width:1199px) and (min-width:992px){
/*Gallery Slides (MD)*/
#carousel1 .carousel-inner .item .center-block {
	max-height: 500px;
}
#carousel1 .carousel-inner {
	padding-bottom: 120px;
}
#carousel1 .carousel-inner .carousel-caption {
	bottom: -145px;
}
}

@media (min-width:1200px){
/*Gallery Slides (LG)*/
#carousel1 .carousel-inner .item .center-block {
	max-height: 550px;
}
#carousel1 .carousel-inner {
	padding-bottom: 100px;
}
#carousel1 .carousel-inner .carousel-caption {
	bottom: -124px;
}
}
/* Painting ID's (Custom) */
.GladJourney {
	max-width: 87%;
	left: 0px;
	right: 0px;
	margin-left: 10.5%;
}

.DreamerOFB {
	max-width: 108%;
	width: auto;
}
.feb {
	max-width: 98%;
	margin-left: 1%;
}
.bow {
	width: auto;
	max-width: 103%;
}
.crossandsky {
	width: auto;
	max-width: 109%;
}
.lux {
	margin-left: 6%;
}
.summit {
	margin-left: 6px;
}
.blueCF {
	width: auto;
	max-width: 99%;
	margin-left: 1%;
}
.Winter_R {
	width: auto;
	max-width: 103%;
}
.LLBower {
	width: auto;
	max-width: 98%;
	margin-left: 1%;
}
.intuition {
	margin-top: 22px;
}
.hrlit {
	border-color: #0047A5;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 0px;
	padding-bottom: 0px;
	top: 0px;
	bottom: 0px;
}
.hrlit_div {
	border-color: #004CB3;
	margin-top: 0px;
	margin-bottom: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	top: 0px;
	bottom: 0px;
	border-style: dashed;
}
#kellymargin {
	margin-top: 87px;
}
#bowMargin {
	margin-top: 22px;
}
#KellyMargin2 {
	margin-top: 56px;
}
#mazemargin {
	margin-top: 22px;
}
#CertaintyMargin {
	margin-top: 22px;
}
#estuaryMargin {
	margin-top: 22px;
}
.shalet {
	width: 112%;
	max-width: 112%;
	margin-left: 0px;
}
.house {
	width: 93%;
	max-width: 93%;
	margin-left: 11%;
}
#litRow {
	margin-top: 65px;
}
#intTimesMargin {
	margin-top: 21px;
}
